.tags {
    margin: 0px 20px 0 19px;

    ul {
        display: flex;
        
        padding: 0;
        list-style: none;
        font-size: 10px;
        gap: 10px;
        
    }

    li {
        background-color: $primary-color;
        color: white;
        font-weight: 700;
        padding: 3px 15px 3px 15px;
        border-radius: 5px;


    }
    
}